.form-container {
    width: 90%;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid green;
    color: black;
}

.titulo-form {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 12px;
    color: black;
}

input, textarea, select {
    padding: 6px;
    border-radius: 6px;
    border: 2px solid green;
    background: #b8ffb8;
    color: black;
}

textarea {
    resize: none;
    height: 60px;
}

.botones-form {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.btn-agregar {
    background: green;
    color: white;
    padding: 8px 16px;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.btn-volver {
    background: red;
    color: white;
    padding: 8px 16px;
    border: none;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.btn-agregar:hover,
.btn-volver:hover {
    opacity: 0.8;
}
