.asignar-cita-container {
  width: 80%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.asignar-cita-container h2 {
  margin-bottom: 20px;
  color: #003366;
}

.agregar-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form-grid div {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-grid label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #003366;
}

.form-grid input,
.form-grid select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.acciones {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.acciones button {
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.acciones button:hover {
  background-color: #007bff;
}
