.qs-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 3%);
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qs-titulo {
  position: absolute;
  top: 220px;
  text-align: center;
  width: 100%;
  font-size: 5rem;
  color: #141415;
  font-weight: bold;
}

.qs-subtitulo {
  position: absolute;
  top: 340px;
  text-align: center;
  width: 100%;
font-size: 1.5rem;
  color:#141415;
  font-weight: bold;
}


.qs-cuadro {
  position: absolute;
  width: 22%;
  background:rgb(50, 205, 50);
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  color: black;
}

.qs-superior-izq { top: 100px; left: 30px; }
.qs-superior-der { top: 100px; right: 30px; }
.qs-inferior-izq { bottom: 80px; left: 30px; }
.qs-inferior-der { bottom: 80px; right: 30px; }

.qs-imagen-centro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("../Imagenes/QuienesSomos.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.qs-boton-volver {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(34, 139, 34); 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.qs-boton-volver:hover {
  background: #005f8a;
}
